body{
  background-color: #7f8c8d;
}

/*NAV BAR*/
#profile-image-anchor {
  width: 65px;
  height: 65px;
  border: none !important;
  border-radius: 50%;
  background-color: transparent !important;
  z-index: 999;
  display: inline-flex;
  float: right;
  margin-right: 0 !important;
  margin-left: 10px !important;
  margin-bottom: 5px !important; }

#profile-image-anchor img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998; }

#profile-image-anchor {
  margin-right: 3%; }

/******CHARACTER CREATOR*******/
#CharacterCreationPage{
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}
#charCreat input{
  color: black;
}
#charCreat{
  width: 45%;
  display: inline-block;
  float: left;
  background-color: #DFD297;
}
#charCreat div{
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  overflow: scroll;
  background-color: #AC2832;
  margin: 2vh;
  border: solid black 3px;
}

/*CHAR FORM*/
#charForm{
  width: 45%;
  display: inline-block;
  float: right;
  background-color: tomato;
  position: fixed;
  padding: 3vh;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 12vh;
  color: black;
}


/*EDIT PAGE*/

#characterToEdit{
  width: 45%;
  display: inline-block;
  float: left;
  background-color: #dddddd;
  position: fixed;
  padding: 3vh;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 12vh;
}

#apiInfoForEdit{
  width: 45%;
  display: inline-block;
  float: right;
  background-color: #DFD297;
}

#apiInfoForEdit div{
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  overflow: scroll;
  background-color: #AC2832;
  margin: 2vh;
  border: solid black 3px;
}

#apiInfoForEdit input{
  color: black;
}
