<div class="myRegionContainer">
<h1>YOUR REGIONS</h1><label>Find Region: <input ng-model="searchText"></label>
<div class="jumbotron" ng-repeat="regions in regionData | orderBy: 'name'| filter:searchText">
  <h1>{{regions.name}}</h1> <!-- Name of your region -->
  <p>{{regions.info}}</p> <!-- Region Info -->
  <a class="btn btn-primary" role="button" ng-href="#!/EditRegion/{{regions.id}}">Edit</a> 
  <a class="btn btn-primary" role="button" ng-click="regDeleteBtn(regions.id)">Delete</a>
  <!-- PULL IN CHARACTER CARDS WITH MATCHING REGION -->
  <br><br>
  <div>
  <h3>Region Characters</h3>
  <div id="characterInRegion" ng-repeat="character in regions.characters track by $index">
    <h3 class="CharacterName"><a ng-href="#!/singleCharacter/{{character.id}}">{{character.name}}</a></h3>
  	<p>{{character.storyline}}</p>
  	
  </div>
</div>

</div>
</div>